In [1]:
from pymongo import MongoClient
import pandas as pd

# Connect to MongoDB
client = MongoClient('mongodb://localhost:27017/')
db = client['your_database']  # Replace with your database name
collection = db['your_collection']  # Replace with your collection name

In [2]:
# Retrieve all documents from the collection
documents = collection.find()

# Convert the documents into a pandas DataFrame
test = pd.DataFrame(list(documents))

# Optionally, drop the '_id' column if you don't need it
if '_id' in test.columns:
    test.drop('_id', axis=1, inplace=True)

In [3]:
# Define the new column names
new_column_names = [
    'id', 'Gender', 'Customer Type', 'Age', 'Type of Travel',
    'Class', 'Flight Distance', 'Inflight wifi service',
    'Departure/Arrival time convenient', 'Ease of Online booking',
    'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
    'Inflight entertainment', 'On-board service', 'Leg room service',
    'Baggage handling', 'Checkin service', 'Inflight service',
    'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
    'satisfaction'
]

# Rename the columns of the DataFrame
test.columns = new_column_names

In [4]:
test.head()

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,121478,31,0.0,1,5,Eco,5,Loyal Customer,3,0,...,Male,5,5,3,1,5,3,neutral or dissatisfied,5,Personal Travel
1,122937,26,25.0,4,4,Business,4,Loyal Customer,5,20,...,Female,4,4,4,2,5,4,satisfied,4,Business travel
2,25269,16,0.0,4,1,Business,3,Loyal Customer,5,0,...,Male,3,3,3,5,1,3,neutral or dissatisfied,3,Business travel
3,116643,22,0.0,5,3,Business,5,disloyal Customer,0,0,...,Female,5,5,5,5,3,5,satisfied,5,Business travel
4,48451,24,0.0,1,3,Eco,1,disloyal Customer,4,0,...,Male,1,3,4,4,1,4,satisfied,1,Business travel

In [7]:
train = pd.read_csv('data/train.csv')
train.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

In [8]:
# drop the first column
train.drop('Unnamed: 0', axis=1, inplace=True)
train.head()

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

In [12]:
# compare the columns of the two DataFrames
print('Columns in train: ', train.columns)
print('Columns in test: ', test.columns)

Columns in train:  Index(['id', 'Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class',
       'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'satisfaction'],
      dtype='object')
Columns in test:  Index(['id', 'Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class',
       'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'satisfaction'],
      dtype='object')

In [13]:
# check the shape of the two DataFrames
print('Shape of train: ', train.shape)
print('Shape of test: ', test.shape)

Shape of train:  (103904, 24)
Shape of test:  (25976, 24)

In [17]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder

# Assuming `df` is your DataFrame and `target` is your target variable
X = df.drop(columns=[target])
y = df[target]

# Encode categorical variables
encoder = OneHotEncoder()
X_encoded = encoder.fit_transform(X)

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.2, random_state=42)

# Impute the missing values
imputer = SimpleImputer(strategy='mean')
X_train_imputed = imputer.fit_transform(X_train)
X_test_imputed = imputer.transform(X_test)

# Create the model
knn = KNeighborsClassifier(n_neighbors=3)

# Train the model
knn.fit(X_train_imputed, y_train)

# Make predictions
predictions = knn.predict(X_test_imputed)
predictions[:5]

ValueError: The feature names should match those that were passed during fit.
Feature names unseen at fit time:
- Customer Type
- Departure Delay in Minutes_neutral or dissatisfied
- Departure Delay in Minutes_satisfied
- Gender
- Inflight entertainment_Female
- ...
Feature names seen at fit time, yet now missing:
- Customer Type_Loyal Customer
- Customer Type_disloyal Customer
- Departure Delay in Minutes
- Gender_Female
- Gender_Male
- ...

In [ ]:
# Impute the missing values in test data
imputer = SimpleImputer(strategy='mean')
test_imputed = imputer.transform(test)

# Make predictions
predictions = knn.predict(test_imputed)